h1 {
  text-align: center;
  color: black !important;
}
p {
  margin: 10px;
}
a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  width: 60%;
}
.HomePage p {
  color: rgb(60, 60, 60) !important;
}
.HomePage {
  top: 0;
  padding-top: 70px;
  padding-bottom: 250px;
  height: 500%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  overflow-y: scroll;
  background-image: linear-gradient(
    to bottom,
    var(--complementaryColor),
    white
  ) !important;
}
.HomePage .song-item {
  width: 100%;
}
.HomePage .vizionary-link {
  color: black;
}
.vizionary-link {
  transform: translateY(30px);
}
.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--contrastColor);
  margin: 20px auto;
  display: block;
}
.vizionary-section h2 {
  color: black !important;
}

.search-results {
  text-align: left;
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
  background: var(--complementaryColor);
  border-radius: 8px;
}
.search-vizionaries ul {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.search-vizionaries {
  width: 300px !important;
  padding: auto;
  margin: 15px;
}

.search-results-list {
  width: 350px;
  color: var(--contrastColor);
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-song-cover {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 10px;
}

.search-song-title {
  font-size: 14px;
  color: var(--contrastColor) !important;
}
.vizionary-link {
  margin-bottom: 35px;
}
.catchphrase {
  color: var(--contrastColor);
}
